body {
    font-family: sans-serif;
    background-color: #f4f4fe;
    width: 100%;
    padding: 0;
    margin: 0;
}
a {
    color: #2d3ea1;
}
.headerLink:hover {
    color: #a2a7c5;
}
.displayBlock {
    color: #000000;
    background-color: white;
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0px;
}
.contentBlock {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.headerLogo {
}
.logoSection {
    display: inline-table;
}
.headerLinkSection {
    display: inline-table;
}
.headerLink {
    dislay: inline;
    text-decoration: none;
    /*font-size: large;*/
    font-weight: bold;
    padding-right: 20px;
    color: #000000;
}
.headerLink:hover {
    color: #a2a7c5;
}
.headerBreak {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    color: lightgray;
}
.headerVersion {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
}

