li {
    padding: 5px;
}
.workspaceLink {
    font-weight: bold;
    color: #2d3ea1;
}

.codeBlock {
    font-family: monospace;
    background-color: #eeeeee;
    outline: 1px solid #2d3ea1;
    margin: 10px;
    padding: 5px;
}

.tutorialNavLinks {
    text-decoration: none;
    font-weight: bold;
    color: #2d3ea1;
}

